@{
    ViewBag.Title = "UB Design";
}

<div class="jumbotron">
    <h1>Welcome to Upward Bound Design Co.</h1>
    <p class="lead">Self started and upcoming web and software application design company</p>
    <p><a href="https://www.linkedin.com/in/moralesejonathan/" class="btn btn-primary btn-lg">See my linkedIN &raquo;</a></p>
</div>
