@{
    ViewBag.Title = "UB Design";
}

<div class="jumbotron">
    <h1>Welcome to Upward Bound Design Co.</h1>
    <p class="lead">Self started and upcoming web and software application design company</p>
    @*<p><a href="https://www.linkedin.com/in/moralesejonathan/" class="btn btn-primary btn-lg">See my linkedIN &raquo;</a></p>*@
</div>
<div>
    <h1>Services:</h1>
    <div class="row">
        <div class="col-lg-6">
            <ul>
                <li>
                    Website Development
                </li>
                <li>
                    C# Programming
                </li>
                <li>
                    .NET Programming
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li>
                    Website Management
                </li>
                <li>
                    Graphic Design
                </li>
                <li>
                    Website Repair
                </li>
            </ul>
        </div>
    </div>
    <h1>Cost:</h1>
    <div class="row">
        <div class="col-lg-12">
            <p>We will come to terms on billing when discussing project needs. All projects will be scoped and assigned an estimate. In the event that the full hours are not met or are surpassed, changes will be made accordingly.</p>
            <p>We are a team of dedicated developers who are looking to gain experience as well as grow a portfolio of projects we are proud of. Overall, our main priority is to use our creativity to help our clients expand their market.</p>
        </div>
    </div>
    <h1>Inquire today!</h1>
    <div class="row">
        <div class="col-lg-4">
            <a href="tel:7">555-555-1212</a>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">

        </div>
    </div>
</div>
